@layer fe-interview-design-system.base {
  body {
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-family: var(--ff-inter);

    color: var(--color-text-primary);
    background-color: var(--color-background);
  }
}
