@use "../../styles/tools/spacing/px-to-rem.scss" as *;

@layer fe-interview-design-system.tokens {
  :root {
    --radius-2xs: #{px-to-rem(2px)};
    --radius-sm: #{px-to-rem(4px)};
    --radius-md: #{px-to-rem(6px)};
    --radius-lg: #{px-to-rem(8px)};
    --radius-xl: #{px-to-rem(12px)};
    --radius-full: #{px-to-rem(100px)};
  }
}
