@layer fe-interview-design-system.tokens {
  :root {
    --black: #000000;

    --blue-9: #1b2134;
    --blue-7: #343a4e;
    --blue-5: #585d71;

    --gray-1: #ffffff;
    --gray-2: #f6f6fa;
    --gray-3: #f1f1f7;
    --gray-4: #d3d3dc;
    --gray-5: #c4c5cf;

    --green-2: #b1ffc7;
    --red-2: #ffbfb1;
  }
}
