@layer fe-interview-design-system.tokens {
  :root {
    --sp-0: 0;
    --sp-4xs: 2px;
    --sp-3xs: 4px;
    --sp-2xs: 8px;
    --sp-xs: 12px;
    --sp-s: 16px;
    --sp-m: 20px;
    --sp-l: 24px;
    --sp-xl: 32px;
    --sp-2xl: 48px;
  }
}
